body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background: #333;
    margin: 0;
    display: flex;
    flex-direction: column;;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    border: 1px solid #fff;
}

h1 {
    color: #FFED00; 
    margin-bottom: 20px;
}

#start,
#pause, 
#clear,
#random, 
#fast, 
#slow {
    padding: 1em;
    font-size: 1.25em;
    border-radius: 5px;
    border: none;
    background: #FFED00;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    

    ;
}
